#firstQuestionPage {
    display: none;
}

#secondQuestionPage {
    display: none;
}
#thirdQuestionPage {
    display:none;
}
#fourthQuestionPage {
    display:none;
}
#fifthQuestionPage {
    display:none;
}
#endQuizPage {
    display:none;
}
#highScoresPage {
    display:none;
}